body {
    font-family:Arial, Helvetica, sans-serif
}

#calcBox {
    display:inline-block;
    border-radius: 8px;
    border-style: solid;
    background-color: rgba(100, 148, 237, 0.244);
    padding: 10px;
    margin: 8px;
    height: 24px;
    min-width: 188px;
    max-width: fit-content;
    vertical-align: middle;
    font-family: inherit;
    font-size: 1.25em;
}
#clearButton {
    display:inline-block;
    vertical-align: middle;
    margin: 0px;
    background-color: #43AA8B;
}
#clearButton:hover {
    background-color: #31c599;
}
.button-row {
    display: flex;
    margin-left: 8px;
    border-radius: 8px;
    width: 200px;
    padding: 4px;
    background-color: #577590;
    justify-content: space-between;
}
li {
    cursor: pointer;
    max-width: fit-content;
}
.numButton,
.operandButton,
#submitCalcButton,
#clearButton,
#clearHistButton {
    font-family: inherit;
    font-size: 1.25em;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.3s; 
}
.numButton{
    flex-grow: 1;
    background-color: #F9C74F;
    cursor: pointer;
}
.numButton:hover {
    background-color: #ffd428;
}
.operandButton{
    flex-grow: 1;
    background-color: #F8961E;
}
.operandButton:hover {
    background-color: #F3722C;
}
#submitCalcButton {
    flex-grow: 1.5;
    background-color: #F94144;
}
#submitCalcButton:hover {
    background-color:#f3182e ;
}
#clearHistButton {
    margin: 8px;
    font-size: 1em;
    background-color: #43AA8B;
}
#clearHistButton:hover {
    background-color: #31c599;
}